.view {
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;

	cursor: pointer;

	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}

	&--inner {
		color: var(--color-highlight);
		line-height: 9.5px;
		font-size: 0.9rem;
	}

	&--outer {
		font-family: inherit;
	}
}
