:root {
	--color-soft: #fbfbfb;
	--color-highlight: #d05129;
	--color-blank: #d1d1d1;
	--text-lg: 2rem;
	--text-lg-tablet: 1.6rem;
	--text-lg-mobile: 1.2rem;

	@media screen and (max-width: 1000px) {
		--text-lg: 1.7rem;
	}
	@media screen and (max-width: 767px) {
		--text-lg: 1.4rem;
	}
}
