@import "../../styles/mixins.scss";

.layout {
	@include flex-with-gap(1rem);

	align-items: center;

	img {
		@include border-base;

		width: 100%;
	}
}

.cover {
	a {
		display: block;
	}
}

.description {
	flex: 1 1 78.5%;

	line-height: 150%;

	& > *:not(:last-child) {
		margin-bottom: 1rem;
	}

	p {
		margin-right: 1.5rem;
	}
}

.utils {
	display: flex;
	justify-content: space-between;
}

.title {
	font-weight: 500;
}
